@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --color1: rgb(55, 10, 151);
  --color2: rgb(98, 61, 218);
  --color3: rgb(0, 0, 0);
  --color4: rgb(128, 14, 137);
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  padding: 20px;
  font-size: 20px;
}

a {
  text-decoration: none;
}

input,
textarea {
  border: 1px solid var(--color1);
  border-radius: 10px;
  padding: 15px;
  width: 100%;
  font-size: 20px;
}

button {
  border: 1px solid var(--color1);
  border-radius: 10px;
  padding: 10px 30px;
  background-color: var(--color2);
  color: white;
  font-size: 25px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:  #310085;
  padding: 10px 30px;
  border-radius: 60px;
  color: whitesmoke;
  
}

.header .title {
  display: flex;
  align-items: center;
  gap: 10px;
  color: whitesmoke;

}

.header .menu a {
  font-weight: 600;
  color: whitesmoke;

}

.content h1 span,
.header span {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: antiquewhite;
  
}

.content h1 {
  display: flex;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px;
}

.content .about {
  display: flex;
  justify-content: center;
  width: 90%;
}

.content .about img {
  width: 500px;
  height: 500px;
  border-radius: 25px;
  border: 15px solid rgb(11, 19, 116);
}

.content .description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
}

.content .toolbar {
  display: flex;
  gap: 20px;
}

.content .toolbar a {
  background-color: rgb(15, 15, 117);
  width: 300px;
  height: 100px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  box-shadow: 3px 3px 8px var(--color4);
  color: whitesmoke;
}

.section {
  width: 60%;
}

.section .card {
  display: flex;
  align-items: center;
  border: 1px solid var(--color3);
  border-radius: 20px;
  padding: 50px;
  margin-bottom: 50px;
  gap: 40px;
  box-shadow: 3px 3px 8px var(--color4);
}

.section .card h2 {
  color: var(--color1);
}

.section .card .left {
  flex: 3;
}

.section .card .right {
  flex: 2;
}

.section .form-row {
  margin-bottom: 20px;
}

.footer {
  display: flex;
  justify-content: space-around;
  border-top: 1px dotted gray;
  text-align: center;
}

.button {
  background-color: #4900c7; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: 0.5s;
  
  

}
.button:hover{
  background-color: transparent;
  color: #4900c7;
  border: 3px solid #4900c7;
}